# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

### log path ###

# error log
log-error=/var/log/mysql/mysql-error.log  

# all log 打开会报错
#log=/var/log/mysql/mysql.log  

# more than 2 seconds is slowquery 
long_query_time=2  

# slow log 
slow_query_log =ON

#log-slow-queries= /var/log/mysql/slowquery.log   mysql5.6版本以上，取消了参数log-slow-queries，更改为slow-query-log-file，切记！！
slow-query-log-file= /var/log/mysql/slowquery.log 

